<section id="upi-switch" class="cmp-upi-switch">
    <h2 class="cmp-upi-switch__heading">Our UPI Switch</h2>
    <div class="cmp-upi-switch__visual">
      <div class="cmp-upi-switch__node cmp-upi-switch__node--initiator">
        <img src="assets/test.png" alt="User" />
        <span>User</span>
      </div>
      <div class="cmp-upi-switch__node cmp-upi-switch__node--switch">
        <img src="assets/upi-switch.gif" alt="NPCI Switch" />
        <span>Switch</span>
      </div>
      <div class="cmp-upi-switch__node cmp-upi-switch__node--receiver">
        <img src="assets/our-services/npci_certified.png" alt="Bank" />
        <span>Bank</span>
      </div>
    </div>
  </section>
  