<section id="services" class="cmp-services">
    <h2 class="cmp-services__heading">Our Services</h2>
    <div class="cmp-services__grid">
      <div class="cmp-services__card">
        <div class="cmp-services__label">Prepaid Cards</div>
        <img src="../assets/prepaid-cards.svg" alt="" />
      </div>
      <div class="cmp-services__card">
        <div class="cmp-services__label">API For Developers</div>
        <img src="../assets/api-developer.svg" alt="" />
      </div>
      <div class="cmp-services__card">
        <div class="cmp-services__label">Merchant Acquisition Platform for Bank</div>
        <img src="../assets/merchant-acq.svg" alt="" />
      </div>
      <div class="cmp-services__card">
        <div class="cmp-services__label">Payout Links</div>
        <img src="../assets/payout-links.svg" alt="" />
      </div>
      <div class="cmp-services__card">
        <div class="cmp-services__label">Payment Collection</div>
        <img src="../assets/payment-collection.svg" alt="" />
      </div>
    </div>
  </section>
  