<section id="services" class="cmp-services">
    <h2 class="cmp-services__heading">Our Services</h2>
    <div class="cmp-services__grid">
      <div class="cmp-services__card">
        <div class="cmp-services__label">Prepaid Cards</div>
        <img src="assets/our-services/prepaid_cards.png" alt="" />
      </div>
      <div class="cmp-services__card">
        <div class="cmp-services__label">API For Developers</div>
        <img src="assets/our-services/api_for_developers.png" alt="" />
      </div>
      <div class="cmp-services__card">
        <div class="cmp-services__label">Merchant Acquisition Platform for Bank</div>
        <img src="assets/our-services/merchant_aquisition_platform.png" alt="" />
      </div>
      <div class="cmp-services__card">
        <div class="cmp-services__label">Payout Links</div>
        <img src="assets/our-services/gencash_payout_links.png" alt="" />
      </div>
      <div class="cmp-services__card">
        <div class="cmp-services__label">Payment Collection</div>
        <img src="assets/our-services/payment_collection.png" alt="" />
      </div>
    </div>
  </section>
  