<section id="stats-counters" class="cmp-stats-counters">
    <div class="cmp-stats-counters__item">
      <h3 class="cmp-stats-counters__number">100+</h3>
      <p class="cmp-stats-counters__label">Trusted Banks</p>
    </div>
    <div class="cmp-stats-counters__item">
      <h3 class="cmp-stats-counters__number">50K+</h3>
      <p class="cmp-stats-counters__label">Transactions Daily</p>
    </div>
    <div class="cmp-stats-counters__item">
      <h3 class="cmp-stats-counters__number">24/7</h3>
      <p class="cmp-stats-counters__label">Support</p>
    </div>
  </section>
  