<section id="hero" class="cmp-hero">
    <div class="cmp-hero__overlay"></div>
    <div class="cmp-hero__content">
      <h1 class="cmp-hero__title">
        Pioneering<br />
        Next Era Of<br />
        Digital Payment
      </h1>
      <div class="cmp-hero__icons">
        <img src="assets/icons/imps.svg" alt="IMPS" />
        <img src="assets/icons/upi.svg"  alt="UPI" />
        <img src="assets/icons/bbps.svg" alt="BBPS" />
        <img src="assets/icons/qr.svg"   alt="QR" />
        <img src="assets/icons/web.svg"  alt="Web" />
      </div>
    </div>
  </section>
  