.cmp-about {
  display: flex;
  align-items: center;
  gap: $gutter;
  padding: $gutter*2 0;

  &__text {
    flex: 1;
  }

  &__illustration {
    flex: 1;
    max-width: 32rem;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
